* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: rgb(10, 77, 10);
}

/* reset button */
.btn {
  border-radius: 0.5em;
  border: none;
  font-family: "Sigmar One", cursive;
  color: rgb(10, 77, 10);
  background-color: #ffffff;
  padding: 1em;
}

/* star rating */
ul > li {
  list-style: none;
}

.star-rating > li {
  display: inline-block;
  padding: 0.8em;
}
/* end star rating */

/* moves counter */
.moves-counter {
  padding: 0.5em;
  display: inline-block;
}
/* end moves counter */

.explanation {
  width: 420px;
  height: 640px;
  margin: auto;
  flex-wrap: wrap;
  perspective: 1000px;
  border: 5px solid rgb(119, 62, 14);
  font-family: "Sigmar One", cursive;
  color: white;
  justify-content: center;
  text-align: center;
}

.memory-game {
  width: 840px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  border: 5px solid rgb(119, 62, 14);
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(250, 212, 0);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
